:root {

    --primary-color: #003366;
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    border: 1px solid var(--primary-color);

}

.content {
    height: 600px;
}

nav, ul, li {
    display: flex;
    list-style: none;
    margin: 10px 20px;
    /* padding: 20px;  */
}

.menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.menu-title {
    margin: 0 40px;
}