<div class="dashboard">
    <section>
    <h2>Create New Post</h2>

    <form id="new-post-form" class="new-post-form">
        <div>
        <label for="post-title">Title</label><br />
        <input type="text" id="post-title" name="post-title" />
        </div>
        <br />
        <div>
        <label for="post-content">Content</label><br />
        <textarea id="post-content" name="post-content"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </section>
    <hr>
  <script src="/javascript/new-post.js"></script>

  {{!-- </div> --}}
  {{#if posts.length}}
  {{!-- <div> --}}
  <section>
    <h2>Your Posts</h2>
    <ol>
      {{#each posts}}
      <li>
        {{title}}
        <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a> | <a href="/posts/delete/{{id}}" class="delete-link">Delete post</a>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
</div>

