{{#each posts}}


<div class="post-box">
    <div class="post-title">
        {{ title }} Posted by {{ user.username }} on some bullshit date
    </div>

    <div class="post-body">
        {{ post_content }}
    </div>
</div>


{{/each}}