<h1>Login Page</h1>
<form id="login-signup-form">
    <p><input type="text" id="username" placeholder="User Name"></p>
    <p><input type="password" id="password" placeholder="Password"></p>
    <p><button id="#login" class="btn btn-primary" type="submit">Login</button>
    <button id="#signup" class="btn btn-primary" type="submit">Signup</button></p>
</form>



<script src="/javascript/login.js"></script>