<div class="signup-page">
    <h1>Signup Page</h1>
    <form id="signup-form">
        <p><input type="text" id="username" placeholder="User Name"></p>
        <p><input type="password" id="password" placeholder="Password"></p>
        <p><button id="#signup" class="btn btn-primary" type="submit">Signup</button>
    </form>
</div>


<script src="/javascript/signup.js"></script>